<section class="py-6 sm:py-12">
	<div class="container">
		<h2 class="text-base md:text-2xl text-center uppercase tracking-[.16em] mb-5 md:mb-10" data-aos="fade-up">Зарядись положительными эмоциями!</h2>

		<div class="grid grid-cols-4 gap-5 relative md:bg-[url('/img/emotions/1-1.png')] bg-contain bg-center bg-no-repeat" data-aos="zoom-in">
			<div class="col-span-2 md:col-span-1 order-2 md:order-first">
				<div class="text-center mb-3 md:mb-5" data-aos="fade-up" data-aos-delay="500">
					<h3 class="text-[10px] sm:text-base xl:text-lg font-semibold text-white uppercase mb-2 !leading-none py-2 title-bg title-bg-6">Безопасно</h3>
					<p class="text-[8px] sm:text-xs xl:text-base !leading-none">Горнолыжные трассы ухоженны, почищенны и соответствуют необходимым стандартам безопастности</p>
				</div>
				<div class="text-center mb-3 md:mb-5" data-aos="fade-up" data-aos-delay="600">
					<h3 class="text-[10px] sm:text-base xl:text-lg font-semibold text-white uppercase mb-2 !leading-none py-2 title-bg title-bg-7">Комфортно</h3>
					<p class="text-[8px] sm:text-xs xl:text-base !leading-none">Подъемники бугельного и кресельного типа обеспечат комфортный подъем на гору, а в уютных кафе можно перекусить, отдохнуть и согреться</p>
				</div>
				<div class="text-center mb-3 md:mb-5" data-aos="fade-up" data-aos-delay="700">
					<h3 class="text-[10px] sm:text-base xl:text-lg font-semibold text-white uppercase mb-2 !leading-none py-2 title-bg title-bg-8">Экономно</h3>
					<p class="text-[8px] sm:text-xs xl:text-base !leading-none">Автобусные гоноложные туры по стоимости дешевле, чем поездки на собственном авто</p>
				</div>
			</div>
			<div class="col-span-4 md:col-span-2 order-first md:order-2" data-aos="fade-up" data-aos-delay="500">
				<img src="/img/emotions/1.png" class="md:hidden max-w-full mx-auto" alt="">
			</div>
			<div class="col-span-2 md:col-span-1 order-3">
				<div class="text-center mb-3 md:mb-5" data-aos="fade-up" data-aos-delay="800">
					<h3 class="text-[10px] sm:text-base xl:text-lg font-semibold text-white uppercase sm:mb-2 !leading-none py-2 title-bg title-bg-9">Круто</h3>
					<p class="text-[8px] sm:text-xs xl:text-base !leading-none">Драйв, адреналин и непередоваемое удовольствие от скоростных спусков на лыжах и сноубордах по горным трассам и лесному пухляку</p>
				</div>
				<div class="text-center mb-3 md:mb-5" data-aos="fade-up" data-aos-delay="900">
					<h3 class="text-[10px] sm:text-base xl:text-lg font-semibold text-white uppercase mb-2 !leading-none py-2 title-bg title-bg-10">Полезно</h3>
					<p class="text-[8px] sm:text-xs xl:text-base !leading-none">Порясающий пейзаж, свежий горный воздух, заснеженные деревья, физическая нагрузка и море положительных эмоций</p>
				</div>
				<div class="text-center mb-3 md:mb-5" data-aos="fade-up" data-aos-delay="1000">
					<h3 class="text-[10px] sm:text-base xl:text-lg font-semibold text-white uppercase mb-2 !leading-none py-2 title-bg title-bg-11">Весело</h3>
					<p class="text-[8px] sm:text-xs xl:text-base !leading-none">Прияное, веселое общение в компании друзей и единомышленников, новые знакомства с активными, яркими людьми</p>
				</div>
			</div>
		</div>

	</div>
</section>