<section class="py-6 sm:py-12">
	<div class="container">
		<h2 class="text-base md:text-2xl text-center uppercase tracking-[.16em] mb-5 md:mb-10" data-aos="fade-up">Фотогалерея</h2>

		<div class="relative mb-14 sm:px-8">
			<div class="swiper photo-galary">
				<div class="swiper-wrapper">
					<div class="swiper-slide grid grid-cols-2 md:grid-cols-4 gap-5 lg:gap-[30px]">
						<a href="/img/photo-galary/1.jpg" class="glightbox" data-aos="zoom-in">
							<img src="/img/photo-galary/thumbs/1.jpg" class="rounded-md" alt="">
						</a>
						<a href="/img/photo-galary/2.jpg" class="glightbox" data-aos="zoom-in">
							<img src="/img/photo-galary/thumbs/2.jpg" class="rounded-md" alt="">
						</a>
						<a href="/img/photo-galary/3.jpg" class="glightbox" data-aos="zoom-in">
							<img src="/img/photo-galary/thumbs/3.jpg" class="rounded-md" alt="">
						</a>
						<a href="/img/photo-galary/4.jpg" class="glightbox" data-aos="zoom-in">
							<img src="/img/photo-galary/thumbs/4.jpg" class="rounded-md" alt="">
						</a>
						<a href="/img/photo-galary/5.jpg" class="glightbox" data-aos="zoom-in">
							<img src="/img/photo-galary/thumbs/5.jpg" class="rounded-md" alt="">
						</a>
						<a href="/img/photo-galary/6.jpg" class="glightbox" data-aos="zoom-in">
							<img src="/img/photo-galary/thumbs/6.jpg" class="rounded-md" alt="">
						</a>
						<a href="/img/photo-galary/7.jpg" class="glightbox" data-aos="zoom-in">
							<img src="/img/photo-galary/thumbs/7.jpg" class="rounded-md" alt="">
						</a>
						<a href="/img/photo-galary/8.jpg" class="glightbox" data-aos="zoom-in">
							<img src="/img/photo-galary/thumbs/8.jpg" class="rounded-md" alt="">
						</a>
					</div>
					<div class="swiper-slide grid grid-cols-2 md:grid-cols-4 gap-5 lg:gap-[30px]">
						<a href="/img/photo-galary/1.jpg" class="glightbox">
							<img src="/img/photo-galary/thumbs/1.jpg" class="rounded-md" alt="">
						</a>
						<a href="/img/photo-galary/2.jpg" class="glightbox">
							<img src="/img/photo-galary/thumbs/2.jpg" class="rounded-md" alt="">
						</a>
						<a href="/img/photo-galary/3.jpg" class="glightbox">
							<img src="/img/photo-galary/thumbs/3.jpg" class="rounded-md" alt="">
						</a>
						<a href="/img/photo-galary/4.jpg" class="glightbox">
							<img src="/img/photo-galary/thumbs/4.jpg" class="rounded-md" alt="">
						</a>
						<a href="/img/photo-galary/5.jpg" class="glightbox">
							<img src="/img/photo-galary/thumbs/5.jpg" class="rounded-md" alt="">
						</a>
						<a href="/img/photo-galary/6.jpg" class="glightbox">
							<img src="/img/photo-galary/thumbs/6.jpg" class="rounded-md" alt="">
						</a>
						<a href="/img/photo-galary/7.jpg" class="glightbox">
							<img src="/img/photo-galary/thumbs/7.jpg" class="rounded-md" alt="">
						</a>
						<a href="/img/photo-galary/8.jpg" class="glightbox">
							<img src="/img/photo-galary/thumbs/8.jpg" class="rounded-md" alt="">
						</a>
					</div>
				</div>
			</div>
	
			<div class="swiper-pagination photo-pagination !-bottom-14"></div>
	
			<div class="swiper-button-prev photo-button-prev after:!content-[''] after:w-4 after:sm:w-6 after:h-8 after:sm:h-10 after:bg-[url('/img/icons/arrow-left.svg')] after:bg-cover after:bg-center !left-0 !-bottom-14 sm:!bottom-auto !top-auto sm:!top-1/2"></div>
			<div class="swiper-button-next photo-button-next after:!content-[''] after:w-4 after:sm:w-6 after:h-8 after:sm:h-10 after:bg-[url('/img/icons/arrow-right.svg')] after:bg-cover after:bg-center !right-0 !-bottom-14 sm:!bottom-auto !top-auto sm:!top-1/2"></div>
		</div>

	</div>
</section>