<section class="pb-6 sm:pb-12 pt-24 lg:pt-0 overflow-hidden">
	<div class="container">
		<h2 class="text-base md:text-2xl text-center uppercase tracking-[.16em] mb-5 md:mb-10" data-aos="fade-up">Автобусные горнолыжные поездки из Уфы</h2>

		<div class="grid md:grid-cols-2 gap-4 sm:gap-[30px]">
			<div class="order-last md:order-first" data-aos="fade-right" data-aos-delay="300">
				<div class="relative">
					<img src="/img/tours/1.jpg" alt="">
					<h3 class="uppercase text-center text-white text-base sm:text-2xl font-bold absolute bottom-4 w-[90%] lg:w-full left-[5%] lg:left-auto py-3 title-bg title-bg-1">Завьялиха</h3>
				</div>
				<div class="bg-white px-4 pt-4 pb-6">
					<div class="grid grid-cols-2 md:grid-cols-1 lg:grid-cols-2 gap-y-2 gap-x-4 xl:gap-x-8 text-[10px] sm:text-base xl:text-lg">
						<div class="flex justify-between">
							<span>Длительность</span>
							<span class="font-bold">1 день</span>
						</div>
						<div class="flex justify-between">
							<span>Время катания</span>
							<span class="font-bold">5 часов</span>
						</div>
						<div class="flex justify-between">
							<span>Дата</span>
							<span class="font-bold">23 и 24 ноября</span>
						</div>
						<div class="flex justify-between">
							<span>Выезд</span>
							<span class="font-bold truncate pl-2">Уфа, ост. Округ Галле</span>
						</div>
						<div class="flex justify-between">
							<span>Стоимость</span>
							<span class="font-bold">2 100 руб.</span>
						</div>
						<div class="flex justify-between">
							<span class="whitespace-nowrap">Свободно мест</span>
							<span class="font-bold truncate pl-2">34 (из 50)</span>
						</div>
					</div>
					<div class="flex justify-center mt-4 sm:mt-7">
						<a href="#" class="red-btn py-2 px-10 sm:px-20">Подробнее</a>
					</div>
				</div>
			</div>
			<div class="order-first md:order-last" data-aos="fade-left" data-aos-delay="300">
				<div class="relative">
					<img src="/img/tours/2.jpg" alt="">
					<h3 class="uppercase text-center text-white text-base sm:text-2xl font-bold absolute bottom-4 w-[90%] lg:w-full left-[5%] lg:left-auto py-3 title-bg title-bg-2">Аджигардак</h3>
				</div>
				<div class="bg-white px-4 pt-4 pb-6">
					<div class="grid grid-cols-2 md:grid-cols-1 lg:grid-cols-2 gap-y-2 gap-x-4 xl:gap-x-8 text-[10px] sm:text-base xl:text-lg">
						<div class="flex justify-between">
							<span>Длительность</span>
							<span class="font-bold">1 день</span>
						</div>
						<div class="flex justify-between">
							<span>Время катания</span>
							<span class="font-bold">5 часов</span>
						</div>
						<div class="flex justify-between">
							<span>Дата</span>
							<span class="font-bold">23 и 24 ноября</span>
						</div>
						<div class="flex justify-between">
							<span>Выезд</span>
							<span class="font-bold truncate pl-2">Уфа, ост. Округ Галле</span>
						</div>
						<div class="flex justify-between">
							<span>Стоимость</span>
							<span class="font-bold">2 100 руб.</span>
						</div>
						<div class="flex justify-between">
							<span class="whitespace-nowrap">Свободно мест</span>
							<span class="font-bold truncate pl-2">34 (из 50)</span>
						</div>
					</div>
					<div class="flex justify-center mt-4 sm:mt-7">
						<a href="#" class="red-btn py-2 px-10 sm:px-20">Подробнее</a>
					</div>
				</div>
			</div>
		</div>

	</div>
</section>