<section class="py-6 sm:py-12">
	<div class="container">
		<h2 class="text-base md:text-2xl text-center uppercase tracking-[.16em] mb-5 md:mb-10" data-aos="fade-up">С нами горнолыжный отдых еще приятнее...</h2>

		<div class="flex flex-wrap justify-center gap-y-5 lg:gap-y-0 lg:grid grid-cols-3 lg:gap-8">

			<div class="w-full md:w-1/2 lg:w-full px-0 md:px-4 lg:px-0" data-aos="fade-up" data-aos-delay="100">
				<div class="relative md:h-64 xl:h-72 mb-1 xl:mb-3">
					<img src="/img/with-us/1.png" class="max-w-full h-auto mx-auto -mb-1 md:mb-0" alt="">
					<h3 class="text-center text-white text-[14px] xl:text-lg font-bold md:absolute bottom-0 w-full left-0 py-2 md:py-4 title-bg title-bg-3 !leading-none xl:!bg-cover">Инструктор по горным лыжам <br>и сноуборду</h3>
				</div>
				<p class="text-center text-[12px] xl:text-base !leading-none">На каждую поезду с нами ездят опытные инструктора по горным лыжам и сноуборду, которые быстро научат Вас правильно и безопастно кататься по горным склонам, а тем кто уже умеет, поднять и отточить технику. Рекомендуем записываться заранее. Стоимость занятий 1300 руб. / 1 час</p>
			</div>
			<div class="w-full md:w-1/2 lg:w-full px-0 md:px-4 lg:px-0" data-aos="fade-up" data-aos-delay="200">
				<div class="relative md:h-64 xl:h-72 mb-1 xl:mb-3">
					<img src="/img/with-us/2.png" class="max-w-full h-auto mx-auto -mb-1 md:mb-0" alt="">
					<h3 class="text-center text-white text-[14px] xl:text-lg font-bold md:absolute bottom-0 w-full left-0 py-2 md:py-4 title-bg title-bg-3 !leading-none">Партнерская скидка 10% <br>
						на питание в кафе</h3>
				</div>
				<p class="text-center text-[12px] xl:text-base !leading-none">Кемпинг “БАЙТУГАН” расположенный на 1538 км трассы М5, является нашим партнером и с заботой относится к нашим лыжникам, заранее готовясь к нашему визиту и любезно предоставляя скидку на все меню - 10%</p>
			</div>
			<div class="w-full md:w-1/2 lg:w-full px-0 md:px-4 lg:px-0" data-aos="fade-up" data-aos-delay="300">
				<div class="relative md:h-64 xl:h-72 mb-1 xl:mb-3">
					<img src="/img/with-us/3.png" class="max-w-full h-auto mx-auto -mb-1 md:mb-0" alt="">
					<h3 class="text-center text-white text-[14px] xl:text-lg font-bold md:absolute bottom-0 w-full left-0 py-2 md:py-4 title-bg title-bg-3 !leading-none">Cashback 10% <br>
						от стоимости каждой поездки</h3>
				</div>
				<p class="text-center text-[12px] xl:text-base !leading-none">Регистрируйтесь на нашем сайте, проводите оплату онлайн через личный кабинет и получайте 10% Cashback баллами от стоимости поездки. Используйте накопленные баллы при оплате следующей поездки экономя свои деньги</p>
			</div>

		</div>

	</div>
</section>