<footer class="bg-white py-4 border-t border-t-lightGray border-opacity-30 text-[8px] sm:text-[14px]">
	<div class="container">
		<div class="grid grid-cols-6 items-center gap-4">
			<div class="text-left leading-none col-span-3 lg:col-span-2 order-1">Политика компании в отношении<br> <a href="javascript:void(0)" class="transition-opacity hover:opacity-80 max-w-[210px]">обработки персональных данных</a>
			</div>
			<div class="text-center leading-none col-span-6 lg:col-span-2 order-last lg:order-2">Copyright © 2020-2021. «BUS SKI TOUR». Все права защищены</div>
			<div class="lg:text-right leading-none col-span-3 lg:col-span-2 order-2 lg:order-last"><a href="javascript:void(0)" class="inline-block transition-opacity font-medium hover:opacity-80">WEBBEES</a> - Создание и продвижение сайтов</div>
		</div>
	</div>
</footer>